body {
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.search input {
  width: 600px;
  height: 30px;
  background-color: whitesmoke;
  padding: 5px;
  border-color: black;
  border-radius: 15px;
  border: 1px;
  font-size: 16px;
}

.logout button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.logout button:hover {
  background-color: #555;
}


.profile {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	margin: 80px auto;
	max-width: 600px;
	padding: 30px;
}

.profile-picture img {
	border-radius: 50%;
	display: block;
	height: 150px;
	margin: 0 auto 20px;
	width: 150px;
}

.profile-info h1 {
	font-size: 24px;
	margin: 0 0 10px;
}

.profile-info .username {
	color: #888;
	margin: 0 0 20px;
}

.profile-info .bio {
	margin: 0 0 20px;
}

.profile-info .edit-profile {
	background-color: #1abc9c;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	margin: 0 0 20px;
	padding: 10px 20px;
  cursor: pointer;
	text-decoration: none;
}

.profile-info .edit-profile:hover {
	background-color: #16a085;
}

.stats {
	display: flex;
	justify-content: space-between;
}

.stats .friends {
  background-color: #1abc9c;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	margin: 0 0 20px;
	padding: 10px 20px;
  cursor: pointer;
	text-decoration: none;
  
}
.stats .friends:hover {
  background-color: #16a085;
 
}
.stats .friends button.count {
	font-size: 20px;
  border: none;
	margin: 0;
	padding: 0;
 background-color: #16a085;
  cursor: pointer;
}
.stats .friends button.count :hover {
  background-color:#1abc9c;
	
}

.dropdown{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 5px;
  margin-left: 0.5%;
  border: 1px;
  margin-top: -13px;
  border-radius: 15px;
}
.dropdown:empty{
border: none;
}
.dropdown-row{
  width: 280px;
  cursor: pointer;
  text-align: center;
  margin: 2px 0;
}
input{
  width: 220px;
}
.inndiv{
  width: 495px;
  height: 50px;
  margin: 2px;
  text-align: justify;
}
.simg{
  margin-top: 6px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
